{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}


{% block content %}
<p> Please input your IP or Domain, port start and port end, then press submit </p>
<form method="POST">
    <input name="text">
    <input name="port_first">
    <input name="port_last">
    <input type="submit">
</form>

{% if port_check_result %}
  <p>
    IP/Domain: {{ ipAdress }} {{ port_check_result }}
  </p>
{% endif %}

{% endblock %}
