{% extends 'index.html' %}


{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}


{% block content %}

    <form method="POST">
        <p> Please input your IP or Domain, port start and port end, then press submit </p>
        <p>Domain/IP: </p><input name="text">

        <p>From : </p><input name="port_first">

        <p>To : </p><input name="port_last">

        <p><input type="submit"></p>
    </form>
{% endblock %} 





{% block results %}
    {% if port_check_result %}

        <div class="row">
            <div class="col-4"></div>
            <div class="col">

            <p> IP/Domain: <strong> {{ ipAdress }} </strong> </p>

            </div>
            <div class="col">

                {% for item in port_check_result %}
                    <p> <strong>port: {{ item }} OPEN </strong> </p> 
                {% endfor %}

            </div>
            <div class="col-4">

            </div>
        </div>

    {% endif %}
{% endblock %} 


